API_PREFIX=api
APP_NAME=Slack Cut'n'Nasty
BACKEND_PORT=3001
BACKEND_PORT_DEBUG=9229
BACKEND_PORT_EXTERNAL=20001
BACKEND_SERVICE_NAME=backend
FRONTEND_PORT=3000
FRONTEND_PORT_EXTERNAL=20000
FRONTEND_SERVICE_NAME=frontend
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_PATH=/api/oauth/google/redirect
JWT_EXPIRES_IN=7d
JWT_SECRET=
NODE_ENV=development
POSTGRES_DATA=/var/lib/postgresql/data
POSTGRES_DB=slack-cut-n-nasty
POSTGRES_HOST=database
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_PORT_EXTERNAL=20002
POSTGRES_USER=slack-cut-n-nasty
YANDEX_OAUTH_URL=https://oauth.yandex.ru
